.swipeButtons{
    display:flex;
    bottom:10vh;
    position: fixed;
    width: 100%;
    justify-content: space-evenly;
}

.swipeButtons .MuiIconButton-root {
    background-color: #fff;
    box-shadow: 0 10px 53px 0 rgba(0, 0, 0, 0.3) !important ;
}

.swipeButtons-repeat{
    color:#f5b748 !important ;
}
.swipeButtons-left{
    color:#ec5e6f !important ;
}
.swipeButtons-star{
    color:#62b4f9 !important ;
}
.swipeButtons-right{
    color:#76e2b3 !important ;
}
.swipeButtons-lightning{
    color:#915dd1 !important ;
}