.card {
    position: relative;
    background-color: #fff;
    width: 600px;
    padding: 20px;
    max-width: 85vh;
    height: 50vh;
    box-shadow: 0px 18px 53px 0px rgba(0, 0,0, 0.3);
    border-radius: 20px;
    background-size: cover ;
    background-position: top;
    z-index: -1;
}

.tinderCards-cardContainer{
    display: flex;
    justify-content: center;
    margin-top: 8vh;
}

.cardContent{
    width: 100%;
    height: 100%;
}

.swipe{
    position: absolute;
}

.card h3 {
    position:absolute;
    bottom: 0;
    margin: 10px;
    color:#fff;
}

@media screen and (max-width:600px) {
    .card {
        width: 600px;
        border-radius: 0;
        height: 101vh;
        box-shadow: none;
        top: 13%;
        transform: translate(0% , -13%);
        left: 0;
        position: relative;
    }
    .tinderCards-cardContainer{
        margin: 0;
    }
}
@media screen and (max-width:550px) {
    .card {
        width: 550px;
    }
}
@media screen and (max-width:500px) {
    .card {
        width: 500px;
    }
}
@media screen and (max-width:450px) {
    .card {
        width: 450px;
    }
}
@media screen and (max-width:400px) {
    .card {
        width: 400px;
    }
}
@media screen and (max-width:350px) {
    .card {
        width: 350px;
    }
}
@media screen and (max-width:330px) {
    .card {
        width: 330px;
    }
}
@media screen and (max-width:310px) {
    .card {
        width: 310px;
    }
}
@media screen and (max-width:290px) {
    .card {
        width: 290px;
    }
}